.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 60px;
    box-shadow: 0 2px 20px rgba(49, 75, 160, 0.4);
    background: #74ebd5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    .logo {
        display: flex;
        align-items: center;
        color: rgb(24, 38, 104);

        &-icon {
            font-size: 35px;
        }

        &-name {
            font-family: 'Dosis', sans-serif;
            padding-left: 5px;
            font-weight: bolder;
            font-size: 25px;
            color: $white;
            color: #527db6;
        }
    }

}