body,
html {
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: $black;
}

.pop {
    overflow: hidden;
    height: 100vh;
}

a {
    text-decoration: none;
    color: $blue;
}

input,
textarea,
form,
a,
button {
    box-sizing: border-box;
    outline: none;
}

textarea,
input {
    font-size: 16px;
    color: $black;
}

button {
    cursor: pointer;
}

button.btn {
    border-radius: 40px;
    padding: 15px 20px;
    background: $blue;
    border: 0;
    color: $white;
    font-size: 16px;
}

.wrapper {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.user-thumb {
    border-radius: 50%;
    color: $white;
    background: $blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

.main-content {
    width: 60%;
}

.side-content {
    width: 35%;
    margin-top: 20px;
    padding: 10px;

    @import 'components/panel/topQuestion.scss';
}

.header-panel {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;

    &.sm {
        font-size: 24px;
    }
}

.popup {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 999;
    overflow: scroll;
    padding-bottom: 30px;

    &-fade-background {
        width: 100%;
        height: 100%;
        background: $black;
        opacity: .6;
        position: fixed;
    }

    &-wrapper {
        position: absolute;
        background: $white;
        max-width: 1200px;
        width: 80%;
        margin-top: 50px;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, .3);
        margin-bottom: 40px;
    }

    &-action {
        display: flex;
        justify-content: flex-end;

        button {
            background: none;
            color: $black;
            font-size: 30px;
            opacity: .5;
            padding: 0;
        }
    }
}
