$white: #fff;
$black: #292929;

$gray: #aaaaaa;

$lite-green: #7fe272;
$green: #299b1a;
$dark-green: #156b09;

$lite-blue: #67a3f1;
$blue: #1b61bd;
$dark-blue: #0b3a79;

$lite-red: #ff8080;
$red: #cf3030;
$dark-red: #6b1515;